In [1]:
import pymysql
import pandas as pd
import numpy as np

In [2]:
#连接数据库
from sqlalchemy import create_engine  
      
db_info_report = {'user':'lr',  
    'password':'hooya5000',  
    'host':'192.168.0.239',  
    'database':'daily_data'  # 这里我们事先指定了数据库，后续操作只需要表即可
}  

#engine = create_engine('mysql+pymysql://lr:hooya5000@192.168.0.239/daily_data',encoding='utf-8')
      
engine_report = create_engine('mysql+pymysql://%(user)s:%(password)s@%(host)s/%(database)s?charset=utf8' % db_info_report,encoding='utf-8')    #这里直接使用pymysql连接,echo=True，会显示在加载数据库所执行的SQL语句。

In [3]:
ad_report = input("请输入需要获取数据的大店铺广告报表:")
shop = input("请输入需要获取的大店铺名称:")
#下面获取的time period需要覆盖我们要研究的日期,数据格式为yyyy-mm-dd
start_date = input("想要获取的数据的起始日:")
end_date = input("想要获取的数据的终止日:")
#导入数据库数据
#df = pd.read_sql_query("select * from {} where date between '{}'and '{}'".format(ad_report,start_date,end_date), con = engine_report)
df = pd.read_sql_query("select * from {} where date between '{}'and '{}'".format(ad_report,start_date,end_date), con = engine_report,parse_dates = ['date'],index_col = ['date'])

请输入需要获取数据的大店铺广告报表:superbuy_advertisement
请输入需要获取的大店铺名称:superbuy
想要获取的数据的起始日:2020-09-12
想要获取的数据的终止日:2020-10-14

In [4]:
#数据准备工作,研究对象数据获取
df1 = df[(df.index >= '2020-10-13') & (df.index <= '2020-10-14')]#获取会员日期间大店铺的数据,目的是统计两天出单在50单及以上的产品
df2 = df[(df.index >= '2020-09-12') & (df.index <= '2020-10-11')]#统计日常数据集,目的是统计日常一个月出单在30单及以上的产品

In [5]:
df1[:5]#取前5行看看dataframe长啥样子
df2[:5]

,id,portfolio,campaign,adgroup,sku,asin,impression,click,spend,sales,units,order,create_date
date,,,,,,,,,,,,,
2020-09-12,1330002,Not grouped,Automotive Parts Washer,ET1156,ET1156,B01BBP4ASK,9,0,0,0,0,0,None
2020-09-12,1330003,Not grouped,Automotive Parts Washer,ET1163,ET1163,B01CKV2OK0,304,1,12,0,0,0,None
2020-09-12,1330004,Not grouped,Globe wine bar,Globe wine bar,HW47195,B00MWN1GQK,28371,60,1490,0,0,0,None
2020-09-12,1330005,Not grouped,Globe wine bar,Globe wine bar,HW51940+,B01FD68D04,16968,53,1423,20999,1,1,None
2020-09-12,1330006,K-Outdoor Chairs,Zero Gravity Chair OP3026,OP3026,OP3026BE,B01K1WU1XW,1332,7,208,0,0,0,None

In [6]:
##转换数据格式,转换为数值型后面使用聚合函数就不会报错了
# 归类不同字段类型
ad_fieldtype_str = ['id','portfolio','campaign','adgroup','sku','asin']
ad_fieldtype_int = ['impression','click','spend','sales','units','order']
ad_fieldtype_time = ['create_date']

# 修改列数据属性
for i in ad_fieldtype_str:
    df1['{}'.format(i)] = df1['{}'.format(i)].astype(str)
    df2['{}'.format(i)] = df2['{}'.format(i)].astype(str)

for i in ad_fieldtype_int:
    df1['{}'.format(i)] = df1['{}'.format(i)].astype(int)
    df2['{}'.format(i)] = df2['{}'.format(i)].astype(int)
    
for i in ad_fieldtype_time:
    df1['{}'.format(i)] = pd.to_datetime(df1['{}'.format(i)])
    df2['{}'.format(i)] = pd.to_datetime(df2['{}'.format(i)])

<ipython-input-6-7b41e5dc780c>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['{}'.format(i)] = df1['{}'.format(i)].astype(str)
<ipython-input-6-7b41e5dc780c>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['{}'.format(i)] = df2['{}'.format(i)].astype(str)
<ipython-input-6-7b41e5dc780c>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['{}'.format(i)] = df1['{}'.format(i)].astype(int)
<ipython-input-6-7b41e5dc780c>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['{}'.format(i)] = df2['{}'.format(i)].astype(int)
<ipython-input-6-7b41e5dc780c>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['{}'.format(i)] = pd.to_datetime(df1['{}'.format(i)])
<ipython-input-6-7b41e5dc780c>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['{}'.format(i)] = pd.to_datetime(df2['{}'.format(i)])

In [7]:
df_daily = df2.groupby('asin')['impression','click','spend','sales','units','order'].sum()
df_daily[:5]

<ipython-input-7-9aa5d432e773>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_daily = df2.groupby('asin')['impression','click','spend','sales','units','order'].sum()

            impression  click  spend   sales  units  order
asin
B00A9YW6F4       15848     52    566       0      0      0
B00MVGSBD4       53262    540   6467   22396      4      4
B00MVHLXMY          27      0      0       0      0      0
B00MVTX6YK         310      2     30       0      0      0
B00MWN1GQK     1024293   3320  63358  362976     25     25

In [8]:
df_prime = df1.groupby('asin')['impression','click','spend','sales','units','order'].sum()#会员日的数据
df_prime[:5]

<ipython-input-8-e68689aaf586>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_prime = df1.groupby('asin')['impression','click','spend','sales','units','order'].sum()#会员日的数据

            impression  click  spend  sales  units  order
asin
B00A9YW6F4        3108     18    152      0      0      0
B00MEILEGK       14642     34    864      0      0      0
B00MVGSBD4        7904     66    780      0      0      0
B00MVHLXMY         452      0      0      0      0      0
B00MVTX6YK         234      0      0      0      0      0

In [9]:
df_notlessthan1 = df_daily[df_daily['order']>= 30]
df_notlessthan1[:5]

            impression  click   spend   sales  units  order
asin
B00S0D4DNO      276422   1107   25444  122959     41     40
B00ZA2P3XM      635642   1759   80779  454966     80     78
B015IOEOHC      390796   2546   56833  672134     64     61
B0163W72S6      357543   1315  108801  445404    106    104
B016M6DODK      380899   1849   92899  694259     47     41

In [10]:
df_PD_notlessthan50 = df_prime[df_prime['order']>= 50]
df_PD_notlessthan50[:5]

            impression  click   spend    sales  units  order
asin
B01M63MJJW      796886   1132   43486   241546     54     52
B072M4HDM8      724940   1537   98714   726872    132    132
B076LTQS6Z      150014    954   40304   579854     62     62
B07W5B3X2K     1839488   4670  415042  5485440    158    158
B07ZRNQ74K      643600   2696  303495  5531857    142    142

In [11]:
asin_list_daily = np.array(df_notlessthan1.index).tolist()

In [12]:
asin_list_daily[:5]

['B00S0D4DNO', 'B00ZA2P3XM', 'B015IOEOHC', 'B0163W72S6', 'B016M6DODK']

In [13]:
asin_list_prime = np.array(df_PD_notlessthan50.index).tolist()
asin_list_prime[:5]

['B01M63MJJW', 'B072M4HDM8', 'B076LTQS6Z', 'B07W5B3X2K', 'B07ZRNQ74K']

In [14]:
#读取excel数据
#定义路径IO
IO = r'C:\Users\lirong1\Desktop\compare_big_and_small.xlsx'
spider = pd.read_excel(io = IO,sheet_name=0,header=0,index_col= 0)
spider[:5]

,create_time,shop_name,coupon,price,review,star,ask_num,a_plus,fba_flag,category,category_rank,sub_category1,sub_category1_rank,sub_category2,sub_category2_rank,sub_category3,sub_category3_rank
asin,,,,,,,,,,,,,,,,,
B07ZVMYBW7,2020-10-14 00:07:18,Tangkula,0,0.00,11,4.5,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B07ZT56V9B,2020-10-14 00:08:52,ADTEST,0,229.99,0,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B07YNMD2TM,2020-10-14 00:09:34,COSTWAY,0,79.99,92,3.9,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B07ZCGP89H,2020-10-14 00:17:42,Nightcore,0,469.99,0,0.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B07YXM5TLS,2020-10-14 00:23:41,COSTWAY,0,109.99,21,4.4,0,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
####日常大于30的数据表格整合
manual_needed_daily = np.setdiff1d(df_notlessthan1.index,spider.index)
#建一个空dataframe
columns = ['asin','shop_name','impression','click','order','coupon','review','star','ask_num','a_plus','fba_flag','category','category_rank']
basic_info_of_asin_list_daily = pd.DataFrame(columns = columns)
for i in asin_list_daily:
    temp = {}
    temp['asin'] = i
    temp['shop_name'] = shop
    temp['impression'] = df_notlessthan1.loc[i]['impression']
    temp['click'] = df_notlessthan1.loc[i]['click']
    temp['order'] = df_notlessthan1.loc[i]['order']
    
    if i in manual_needed_daily:
        basic_info_of_asin_list_daily = basic_info_of_asin_list_daily.append(temp,ignore_index = True)
        continue
    else:
        temp['coupon'] = spider.loc[i]['coupon']
        temp['review'] = spider.loc[i]['review']
        temp['star'] = spider.loc[i]['star']
        temp['ask_num'] = spider.loc[i]['ask_num']
        temp['a_plus'] = spider.loc[i]['a_plus']
        temp['fba_flag'] = spider.loc[i]['fba_flag']
        temp['category'] = spider.loc[i]['category']
        temp['category_rank'] = spider.loc[i]['category_rank']
        basic_info_of_asin_list_daily = basic_info_of_asin_list_daily.append(temp,ignore_index = True)
print(manual_needed_daily)
print(basic_info_of_asin_list_daily)

['B0842LPY98']
           asin shop_name impression click order coupon review  star ask_num  \
0    B00S0D4DNO  superbuy     276422  1107    40      0    237   4.4      50
1    B00ZA2P3XM  superbuy     635642  1759    78      0    384   4.6       0
2    B015IOEOHC  superbuy     390796  2546    61     5%    152   4.4      42
3    B0163W72S6  superbuy     357543  1315   104      0    287   4.6       0
4    B016M6DODK  superbuy     380899  1849    41      0    570   4.0       0
..          ...       ...        ...   ...   ...    ...    ...   ...     ...
99   B08GSFZ8NJ  superbuy     142693  1175    35    10%      8   5.0       0
100  B08GSH26W2  superbuy     143370  1596    50    10%      8   5.0       0
101  B08H5GWFWS  superbuy     455524  1236    38      0    330   4.1     116
102  B08H87DY4S  superbuy      69838   734    36      0      1   5.0       0
103  B08HWKG2LC  superbuy      60146   687    43     5%      4   3.8       0

    a_plus fba_flag                  category  category_rank
0        0        0                Automotive        15274.0
1        1        0  Tools & Home Improvement        34444.0
2        1        0         Sports & Outdoors        64290.0
3        1        0  Tools & Home Improvement        18741.0
4        1        0       Patio Lawn & Garden        24329.0
..     ...      ...                       ...            ...
99       1        0            Home & Kitchen        57502.0
100      1        0            Home & Kitchen        51188.0
101      1        0         Sports & Outdoors         3848.0
102      0        0       Patio Lawn & Garden        31648.0
103      0        0         Sports & Outdoors        29133.0

[104 rows x 13 columns]

In [16]:
#将数据写入excel
with open('basic_info_of_asin_list_daily.csv', 'a', encoding='utf-8',newline="") as f:
        #pd.DataFrame(columns = columns).to_csv(f, index=False) # 去除index,第二次运行的时候这一段需要注释掉
        # 追加, 不写索引和表头
        basic_info_of_asin_list_daily.to_csv(f, mode='a+', index=False,  header=False)

basic_info_of_asin_list_daily_result = pd.read_csv('basic_info_of_asin_list_daily.csv')
print(basic_info_of_asin_list_daily_result)
# 关闭文件
f.close()#只有在文件关闭状态下才不会报错

           asin shop_name  impression  click  order coupon  review  star  \
0    B01M1DP4FC   costway      378399   1160     35      0   175.0   4.4
1    B01N0M98SH   costway      452915   1657     61      0   257.0   4.5
2    B01N4GUXTM   costway      730441   2119     39     5%   343.0   4.2
3    B01N5KG39E   costway      359764   2020     49      0   588.0   4.4
4    B01N69DVC6   costway     2322468   8761    122      0   639.0   4.5
..          ...       ...         ...    ...    ...    ...     ...   ...
448  B08GSFZ8NJ  superbuy      142693   1175     35    10%     8.0   5.0
449  B08GSH26W2  superbuy      143370   1596     50    10%     8.0   5.0
450  B08H5GWFWS  superbuy      455524   1236     38      0   330.0   4.1
451  B08H87DY4S  superbuy       69838    734     36      0     1.0   5.0
452  B08HWKG2LC  superbuy       60146    687     43     5%     4.0   3.8

     ask_num  a_plus  fba_flag             category  category_rank
0        0.0     1.0       0.0       Home & Kitchen        53584.0
1        0.0     1.0       0.0       Home & Kitchen        91463.0
2        0.0     1.0       0.0       Home & Kitchen        85510.0
3        0.0     0.0       0.0       Home & Kitchen        81103.0
4        0.0     1.0       0.0       Home & Kitchen        62464.0
..       ...     ...       ...                  ...            ...
448      0.0     1.0       0.0       Home & Kitchen        57502.0
449      0.0     1.0       0.0       Home & Kitchen        51188.0
450    116.0     1.0       0.0    Sports & Outdoors         3848.0
451      0.0     0.0       0.0  Patio Lawn & Garden        31648.0
452      0.0     0.0       0.0    Sports & Outdoors        29133.0

[453 rows x 13 columns]

In [17]:
####会员日大于50的数据表格整合
manual_needed_prime = np.setdiff1d(df_PD_notlessthan50.index,spider.index)
#建一个空dataframe
columns = ['asin','shop_name','impression','click','order','coupon','review','star','ask_num','a_plus','fba_flag','category','category_rank']
basic_info_of_asin_list_prime = pd.DataFrame(columns = columns)
for i in asin_list_prime:
    temp = {}
    temp['asin'] = i
    temp['shop_name'] = shop
    temp['impression'] = df_PD_notlessthan50.loc[i]['impression']
    temp['click'] = df_PD_notlessthan50.loc[i]['click']
    temp['order'] = df_PD_notlessthan50.loc[i]['order']
    
    if i in manual_needed_prime:
        basic_info_of_asin_list_prime = basic_info_of_asin_list_prime.append(temp,ignore_index = True)
        continue
    else:
        temp['coupon'] = spider.loc[i]['coupon']
        temp['review'] = spider.loc[i]['review']
        temp['star'] = spider.loc[i]['star']
        temp['ask_num'] = spider.loc[i]['ask_num']
        temp['a_plus'] = spider.loc[i]['a_plus']
        temp['fba_flag'] = spider.loc[i]['fba_flag']
        temp['category'] = spider.loc[i]['category']
        temp['category_rank'] = spider.loc[i]['category_rank']
        basic_info_of_asin_list_prime = basic_info_of_asin_list_prime.append(temp,ignore_index = True)
print(manual_needed_prime)
print(basic_info_of_asin_list_prime)

[]
         asin shop_name impression click order  coupon review  star ask_num  \
0  B01M63MJJW  superbuy     796886  1132    52       0   1661   4.0       0
1  B072M4HDM8  superbuy     724940  1537   132      5%   2449   4.5     189
2  B076LTQS6Z  superbuy     150014   954    62       0    726   3.9       0
3  B07W5B3X2K  superbuy    1839488  4670   158       0    176   4.0      93
4  B07ZRNQ74K  superbuy     643600  2696   142  $40.00   1059   3.9     309
5  B081JMW6FJ  superbuy     591192  3822   182  $40.00   1059   3.9     309
6  B08GH4NFDH  superbuy     239750   910    72       0   1059   3.9     313

  a_plus fba_flag           category  category_rank
0      1        0     Home & Kitchen         9314.0
1      1        0    Office Products         4114.0
2      1        0     Home & Kitchen         9223.0
3      1        0  Sports & Outdoors        14286.0
4      1        0  Sports & Outdoors         1096.0
5      1        0  Sports & Outdoors         1096.0
6      1        0  Sports & Outdoors         1003.0

In [18]:
#将数据写入excel
with open('basic_info_of_asin_list_prime.csv', 'a', encoding='utf-8',newline="") as f:
        #pd.DataFrame(columns = columns).to_csv(f, index=False) # 去除index,第二次运行的时候这一段需要注释掉
        # 追加, 不写索引和表头
        basic_info_of_asin_list_prime.to_csv(f, mode='a+', index=False,  header=False)

basic_info_of_asin_list_prime_result = pd.read_csv('basic_info_of_asin_list_prime.csv')
print(basic_info_of_asin_list_prime_result)
# 关闭文件
f.close()#只有在文件关闭状态下才不会报错

          asin shop_name  impression  click  order  coupon  review  star  \
0   B07F618LKC   costway      156733   1766     90  $15.00     548   4.3
1   B07JH7Z88V   costway      396920   1414    102  $10.00    2017   4.4
2   B07P24H1S6   costway      720532   2304    104  $10.00     316   4.6
3   B07Q18S6V3   costway      830808   1039     58      5%     572   4.6
4   B07T87WL66   costway     2115239   2490     56  $10.00     245   3.9
5   B07Y7RD5Y6   costway      571242   1668     64  $17.00     239   4.2
6   B081GDH5TN   costway      299440   1684     84       0      31   4.4
7   B082SCYJDN   costway      642916   1660    142   $7.00     303   4.8
8   B082VCK3RR   costway     1617335   2127     50      5%     231   4.6
9   B08351TQC9   costway     2857377   6040    230      5%     180   4.3
10  B083PRDBSB   costway      135980    750     50  $16.00     173   4.5
11  B089SF1TJQ   costway     3298295   3323     76       0      94   4.4
12  B08BL4LNVY   costway      218210   1517    100      5%       0   0.0
13  B074SF1C5K   costzon      880121   2000     54       0     481   4.2
14  B077FZM6SB   costzon      233978   1264     65       0     182   4.7
15  B07CNNK5L6   costzon      305958   2392     58   $5.00     644   4.7
16  B07DL72VZ9   costzon      727239   2337     54       0     570   4.4
17  B07RHBXTWV   costzon      266054   1640     52       0     537   4.7
18  B07RT3G764   costzon      557883   1922     54       0     108   4.0
19  B07TSM5M4H   costzon      290965   1327     56   $6.00     731   4.6
20  B07WZTN8VQ   costzon     1293758   3140     50       0    1172   4.2
21  B0851FS1Z4   costzon      369805   1254     58  $26.00     376   4.3
22  B086M8N8WN   costzon      997579   3036     54      5%     110   4.3
23  B0899WJJN4   costzon      169775   1115     56       0      92   4.5
24  B01M641PUR  tangkula      273113   1030     60       0     234   4.5
25  B07BHG8643  tangkula      681474   2266     56      5%    1110   4.6
26  B07N4H9XYX  tangkula     1532628   3816     66       0     475   4.2
27  B087R78YGT  tangkula       50835    524     52     10%       3   5.0
28  B087R912DK  tangkula       40887    346     71     10%       3   5.0
29  B08CK4NX94  tangkula       35359    456     62     10%       1   5.0
30  B08D65T8T1  tangkula      664759   2131     72       0       5   4.3
31  B016ZX5J1K   giantex      162006    940     70  $10.00     579   4.4
32  B01LYQNF6G   giantex      662741   1486     56  $10.00     209   4.5
33  B074R7D65D   giantex      694502   4680     66      5%     729   4.2
34  B0844JMMM4   giantex      731458   2046     80       0     158   4.6
35  B0895K4N1N   giantex      284338   2430     74       0     137   4.4
36  B08HCBL81L   giantex      345018   3716     68      5%      14   3.7
37  B01M63MJJW  superbuy      796886   1132     52       0    1661   4.0
38  B072M4HDM8  superbuy      724940   1537    132      5%    2449   4.5
39  B076LTQS6Z  superbuy      150014    954     62       0     726   3.9
40  B07W5B3X2K  superbuy     1839488   4670    158       0     176   4.0
41  B07ZRNQ74K  superbuy      643600   2696    142  $40.00    1059   3.9
42  B081JMW6FJ  superbuy      591192   3822    182  $40.00    1059   3.9
43  B08GH4NFDH  superbuy      239750    910     72       0    1059   3.9

    ask_num  a_plus  fba_flag             category  category_rank
0       163       1         0           Appliances           40.0
1       213       1         0           Appliances           27.0
2         0       1         0       Home & Kitchen        23449.0
3         0       1         0     Kitchen & Dining        13958.0
4         0       1         0     Kitchen & Dining        68855.0
5         0       1         0       Home & Kitchen        32402.0
6         0       1         0  Patio Lawn & Garden       195366.0
7         6       1         0         Toys & Games        10802.0
8         0       1         0     Kitchen & Dining        25732.0
9         0       1         0     Kitchen & Dining         5518.0
10       71       1         0           Appliances           94.0
11        0       1         1     Kitchen & Dining        34946.0
12        0       0         0     Kitchen & Dining        29417.0
13        0       1         0       Home & Kitchen        34017.0
14       15       1         0         Toys & Games        26192.0
15       45       1         0                 Baby         4926.0
16        0       1         0       Home & Kitchen        33331.0
17        0       1         0       Home & Kitchen        18519.0
18       35       1         0                 Baby         6630.0
19       57       1         0                 Baby         4305.0
20      314       1         0         Toys & Games        14844.0
21        0       1         0       Home & Kitchen        32617.0
22        9       1         0         Toys & Games        30905.0
23        0       0         0         Toys & Games        15453.0
24       29       1         0    Sports & Outdoors        24215.0
25        0       1         0       Home & Kitchen        27833.0
26        0       1         0       Home & Kitchen        64716.0
27        0       0         0  Patio Lawn & Garden        16903.0
28        0       0         0  Patio Lawn & Garden        10579.0
29        0       0         0  Patio Lawn & Garden        17751.0
30        0       0         0  Patio Lawn & Garden        35642.0
31       34       1         0   Health & Household        21135.0
32       43       1         0    Sports & Outdoors        18929.0
33        0       1         0       Home & Kitchen        54212.0
34        0       0         0       Home & Kitchen        38742.0
35        0       0         0                  NaN            NaN
36        0       0         0       Home & Kitchen        40110.0
37        0       1         0       Home & Kitchen         9314.0
38      189       1         0      Office Products         4114.0
39        0       1         0       Home & Kitchen         9223.0
40       93       1         0    Sports & Outdoors        14286.0
41      309       1         0    Sports & Outdoors         1096.0
42      309       1         0    Sports & Outdoors         1096.0
43      313       1         0    Sports & Outdoors         1003.0

In [28]:
IO_has_coupon = r'C:\Users\lirong1\Desktop\10_07_has_coupon.xlsx'
asin_has_coupon = pd.read_excel(io = IO_has_coupon,sheet_name=0,header=0,index_col= 0)
coupon_yes_list = asin_has_coupon.index

In [29]:
##读取basic_info_of_asin_list_daily并在里面添加一列表示10.6是否有coupon
#
#IO_daily = r'C:\Users\lirong1\Desktop\会员日复盘\prime day\basic_info_of_asin_list_daily.xlsx'
#asin_daily = pd.read_excel(io = IO_daily,sheet_name=0,header=0,index_col= 0)
#asin_daily_list = asin_daily.index

In [31]:
for i in asin_daily_list:
    if i in coupon_yes_list:
        print(1)
    else:
        print(0)

0
0
1
0
0
1
1
0
1
1
1
0
0
0
1
0
0
1
1
0
0
0
1
1
1
1
0
1
0
0
1
1
0
1
1
1
1
1
1
1
1
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
1
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
1
1
0
0
1
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
1
1
1
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
1
0
0
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
1
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1
1
0
0
0